.register {
  height: calc(100vh - 50px);
  display: flex;
  margin: 15px 15px;
  flex-direction: column;
  align-items: center;
  border-radius: 30px;
  justify-content: center;
  background: linear-gradient(
      rgba(255, 255, 255, 0.7),
      rgba(255, 255, 255, 0.1)
    ),
    url("https://images.unsplash.com/photo-1630879937467-4afa290b1a6b?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2070&q=80");
  background-size: cover;
}

.registerTitle {
  font-size: 50px;
}

.registerForm {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
}

.registerForm > label {
  font-size: 20px;
  margin: 10px 0;
}

.registerInput {
  padding: 15px;
  border-radius: 30px;
  background-color: white;
  border: none;
}

.registerButton {
  margin-top: 20px;
  cursor: pointer;
  background-color: teal;
  border: none;
  color: white;
  font-size: 15px;
  border-radius: 30px;
  padding: 10px;
}

.registerLoginButton {
  position: absolute;
  top: 100px;
  right: 40px;
  background-color: lightcoral;
  cursor: pointer;
  border: none;
  padding: 10px 20px;
  color: white;
  border-radius: 30px;
}
