.footer{
    display: flex;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-top: 1px solid #444;
    flex-direction: column;
    padding: 30px 20px 15px;
    margin: 0px 15px 0;
}